configuration{
    modi: "drun";
    icon-theme: "whitesur";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: false;
    display-drun: "    Run  ";
    sidebar-mode: false;
}
